.back-to-main {
    display: flex;
    gap: 60px;
    padding-top: 43px;
    padding-bottom: 43px;

    &__logo {
        width: 55px;
    }
    &__button {
        padding-left: 36px;
        padding-right: 36px;
    }
}
