.advertisement {
    width: 100%;
    padding-bottom: 100px;

    @media (max-width: 630px) {
        padding-bottom: 30px;
    }
    &__error {
        margin-top: 40px;
        font-size: 36px;
        line-height: 40px;
    }
}

.advertisement-info {
    display: flex;
    flex-wrap: wrap;
    gap: 59px;
    margin-top: 34px;

    @media (max-width: 630px) {
        gap: 20px;
    }
}
