.photos {
    width: 480px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__main-slide {
        width: 480px;
        height: 480px;
    }

    &__main-slide-img {
        width: 480px;
        height: 480px;
        object-fit: contain;
    }

    &__swipe-slide-img {
        width: 88px;
        height: 88px;
        object-fit: cover;
    }

    &__thumbs-wrapper {
        width: 480px;
    }
}
